@model IEnumerable<ZenithWebsite.Models.ApplicationUser>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Add User</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserNm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleId)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.UserName != "")
                    {
                        @Html.DisplayFor(modelItem => item.UserName)
                    }

                    @if (item.UserNm != "")
                    {
                        @Html.DisplayFor(modelItem => item.UserNm)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleId)
                </td>
                <td>
                    @if (item.UserNm != "a")
                     {
                    <a asp-action="Edit" asp-route-id="@item.UserId">Edit |</a> 
                    <a asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
                     }       
                </td>
            </tr>
        }
    </tbody>
</table>
